<p style="font-size: 23px;margin-left: 5%;" class="signUpHeader">Let's get you signed up</p>
<P style="font-size: 15px;margin-left: 5%;" class="signUpCourtesy">Please fill out the form below</P>

<%= render 'form', reader: @reader %>

<div class="signupMessage"></div>
