<h1>New Booking</h1>

<%= render 'form', booking: @booking %>

<table>
  <tr>
    <th>field1</th>
    <th>field2</th>
  </tr>
  <% @data.each do |data| %>       #start loop
      <tr>
        <td><%= data.field1 %></td>  #column field1 in your database
        <td><%= data.field2 %></td>  #column field2 in your database
      </tr>
  <% end %>                        #end loop
</table>

<%= link_to 'Back', bookings_path %>
