/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
    height: 85vh;
    background-color: #000;
    color: #f2e7e7;
    margin: 0px;
    overflow: hidden;
}
div.container {
    width: 96%;

    position: absolute;
    overflow: auto;
top:10%;
    bottom:5%;
    max-height:85%;
    margin-left:2%;


}

a{
    color: #f2e7e7;
}
a:visited{
    color: #f2e7e7;
}

.topOfPage, .bottomOfPage {

    color: white;
    background-color: darkred;
    clear: left;
    text-align: center;
    position:fixed;
    overflow:hidden;
    width:100%;

}
.topOfPage{
    top:0;
    height:10%;

}

.bottomOfPage {

    top:95%;
    bottom: 0%;
    width: 100%;
    height:5%;
}

nav {
    width: initial;
    margin: 0;
    padding: 1em;
    height: 0%;
    text-align: -webkit-right;
}



.footerContent{
  vertical-align: bottom;
}

.ncsuLogo{
    position:fixed;
    top:1%;
    right:3%;
    width:4%;
    height:8%;

}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(1,2,1,0.3);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(1,2,1,0.5);
}